html, body, .app {
  @include full;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;

  div {
    box-sizing: border-box;
  }
}

.el-card {
  border-radius: 0;
  margin-bottom: 12px;
}

.detail-title-wrapper {
  .el-card__body {
    padding: 12px;
  }

  .detail-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    span.title {
      font-weight: bold;
      font-size: 18px;
    }
  }
}

.report-div {
  width: 100%;
  height: 300px;
}

.v-modal {
  opacity: 0.2;
}